.container {
     width: 100vw;
     height: 100vh;
     background-color: #93baf6;
}

.todoContainer {
     background-color: #fdfcff;
     max-height: 25rem;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}
